.am-tab-bar {
	position: fixed;
	bottom: 0;
	width: 100%;
}
.fixd-header {
    z-index: 99;
}
.fixd-header.am-navbar {
	position: fixed;
	top: 0;
	width: 100%;
}
.main-list-card {
    margin-top: 45px;
    margin-bottom: 55px;
    position: absolute;
    top: 5px;
    height: 100%;
    bottom: 100px;
    overflow: scroll;
    overflow: auto;
    width: 100%;
}